<table class="table">
    <thead>
        <tr>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Age
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                {{ FirstName }}
            </td>

            <td>
                {{ LastName }}
            </td>

            <td>
                {{ Age }}
            </td>
        </tr>
    </tbody>
</table>

<br/>

<button class="btn btn-success" (click)="changeValues()">Change Values</button>